<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.mbg.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.user.mbg.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.user.mbg.entity.User">
    insert into sys_user (id, username, `password`, 
      nickname, head_img_url, mobile, 
      sex, enabled, `type`, create_time, 
      update_time, company, open_id, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{sex,jdbcType=BIT}, #{enabled,jdbcType=BIT}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{company,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.user.mbg.entity.User">
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      enabled = #{enabled,jdbcType=BIT},
      `type` = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      company = #{company,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, `password`, nickname, head_img_url, mobile, sex, enabled, `type`, 
    create_time, update_time, company, open_id, is_del
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, `password`, nickname, head_img_url, mobile, sex, enabled, `type`, 
    create_time, update_time, company, open_id, is_del
    from sys_user
  </select>
</mapper>